SQL_DRIVER=ODBC Driver 18 for SQL Server
SQL_SERVER=tcp:your-server.database.windows.net
SQL_DATABASE=your-database
SQL_USERNAME=your-username
SQL_PASSWORD=your-password
SQL_ENCRYPT=yes
SQL_TRUST_SERVER_CERT=no
SQL_MARS_CONNECTION=yes
